Elastic-search-aspnet-core/bin/
Elastic-search-aspnet-core/Elastic.Application/bin/
Elastic-search-aspnet-core/Elastic.Application/obj/
Elastic-search-aspnet-core/Elastic.Infrastructure/bin/
Elastic-search-aspnet-core/Elastic.Infrastructure/obj/
Elastic-search-aspnet-core/Elastic-search-aspnet-core/bin/
Elastic-search-aspnet-core/Elastic-search-aspnet-core/obj/
Elastic-search-aspnet-core/obj/
Elastic-search-aspnet-core/.vs/
